[submodule ".deps/IDL/ROSInterfaces"]
	path = .deps/IDL/ROSInterfaces
	url = ../../../ad-software/0_global/rosinterfaces.git
[submodule ".deps/cmake"]
	path = .deps/cmake
	url = ../../../Tools/cmakescripts.git
[submodule ".deps/IDL/GlobalInterfaces"]
	path = .deps/IDL/GlobalInterfaces
	url = ../../../ad-software/0_global/globalinterfaces.git
