<!-- Launch file for test_ekf_localization_node_bag1 -->
<!-- In this run, we ran a Clearpath Husky with a slightly broken Microstrain 3DM-GX2 IMU
     around a parking lot. The IMU was intentionally rotated +90 degrees about the X axis,
     then rotated (extrinsically) -90 degrees about the Z axis. -->


<launch>
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_odom"  args="0 0 0 0 0 0 map odom" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="odom_base" args="0 0 0 0 0 0 odom base_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="bl_imu" args="0 -0.3 0.52 -1.570796327 0 1.570796327 base_link imu_link" />
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="imu_link" args="0 -0.3 0.52 -1.570796327 0 1.570796327 base_link imu_link" /> -->

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find LocalizationFusionLibrary)/ros_src/rviz/config_file.rviz" />
    <node pkg="rosbag" type="play" name="rosbagplay" args="$(find LocalizationFusionLibrary)/test/test1.bag --clock -d 5 -s 0" required="true"/>

    <node name="filter_node" pkg="LocalizationFusionLibrary" type="filter_ros_node" output="screen">
      <param name="config" value="filter_config.json"/>
      <param name="frequency" value="30"/>

      <param name="map_frame" value="map"/>
      <param name="odom_frame" value="odom"/>
      <param name="base_link_frame" value="base_link"/>

      <param name="odom_nr" value = "1"/>
      <param name="imu_nr" value = "1"/>
      <param name="pose_nr" value = "0"/>
      <param name="twist_nr" value = "0"/>
      <param name="gps_nr" value = "0"/>

      <param name="odom0" value="/husky_velocity_controller/odom"/>
      <param name="imu0" value="/imu/data"/>
</node>
</launch>
